body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* ---reset--- */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ---common--- */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
  max-width: 100vh;
}

img {
  display: block;
}

.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---header--- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.nav-item-link:hover,
.nav-item-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ---hero--- */

.hero {
  background-color: #2e2f42;
}

.hero .container {
  padding: 188px 0;
}

.hero-title-container {
  width: 496px;
  margin: 0 auto 48px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---Features--- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features .container {
  display: flex;
}

/* ---team--- */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-item {
  background-color: #fff;
}

.team-item-title {
  text-align: center;
}

.team-item-text {
  text-align: center;
}

/* ---portfolio--- */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* ---footer--- */

.page-footer {
  background-color: #2e2f42;
}

.page-footer .logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
